.contributors {
    --avatar-size: 52px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 2em auto;
    width: calc(var(--avatar-size) * 15);
    max-width: 100%;
}

.contributors li {
    border-radius: 50%;
    overflow: hidden;
}

.contributors img {
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.contributors a, .contributors img {
    display: block;
}
