.term {
   --background: #14232d;
    --color: #ccc;
    --size: 1;
    --rows: 20;
    border-radius: 5px;
    text-align: left;
    resize: vertical;
    overflow: hidden;
}

.term[class*="terminal"] {
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.commands p {
    margin: 0;
}

.commands ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.marker {
    position: absolute;
    left: -9999999999px;
}

.shake {
    animation: shake 0.2s;
}

@keyframes shake {
    0% { transform: translateY(0) }
    25% { transform: translateY(2px) }
    50% { transform: translateY(0) }
    100% { transform: translateY(-2px) }
}
