.term {
   --background: #14232d;
    --color: #ccc;
    --size: 1;
    --rows: 20;
    border-radius: 5px;
    text-align: left;
    resize: vertical;
    overflow: hidden;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.term:empty::before {
    content: '';
    display: block;
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color);
    --_m:
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(1turn)
    }
}


.commands p {
    margin: 0;
}

.commands ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.shake {
    animation: shake 0.2s;
}

@keyframes shake {
    0% { transform: translateY(0) }
    25% { transform: translateY(2px) }
    50% { transform: translateY(0) }
    100% { transform: translateY(-2px) }
}
