.term {
    --background: white;
    --color: #14232d;
    --size: 1;
    --rows: 20;
    border-radius: 5px;
    text-align: left;
    resize: vertical;
    overflow: hidden;
}

[data-theme='dark'] .term {
    --background: #14232d;
    --color: white;
}

.commands p {
    margin: 0;
}

.commands ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
}

.marker {
    position: absolute;
    left: -9999999999px;
}

.shake {
    animation: shake 0.2s;
}

@keyframes shake {
    0% { transform: translateY(0) }
    25% { transform: translateY(2px) }
    50% { transform: translateY(0) }
    100% { transform: translateY(-2px) }
}
